@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #6027ff;
    --color-danger: #26008f;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #e6e3e9;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
    display: flex;
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-weight: 600;
    font-size: 1.4rem;
}

h3{
    font-weight: 500;
    font-size: 0.87rem;
}

small{
    font-size: 0.76rem;
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.text-muted{
    color: var(--color-info-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

.container{
    display: grid;
    width: 96%;
    margin: 20px;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 23rem;
}

aside{
    height: 100vh;
}

aside .toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .toggle .logo{
    display: flex;
    gap: 0.5rem;
}

aside .toggle .logo img{
    width: 2rem;
    height: 2rem;
}

aside .toggle .close{
    padding-right: 1rem;
    display: none;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    height: 88vh;
    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
}

aside .sidebar:hover{
    box-shadow: none;
}

aside .sidebar a{
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
}

aside .sidebar a.active::before{
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 0.6rem;
}

aside .sidebar .message-count{
    background-color: var(--color-danger);
    padding: 2px 6px;
    color: var(--color-white);
    font-size: 11px;
    border-radius: var(--border-radius-1);
}







.navbar {
    display: flex;
    gap: 25px;
    margin-top: 10px;
    width: 100%;
    max-width: 800px;
}

.main{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 2400px;
    gap: 15px;
    flex-wrap: wrap-reverse;

}
.receita{
    display: flex;
    margin: 100px; 
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    max-width: 950px;
    background-color: var(--color-background);
    color: var(--color-dark);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    box-shadow: var(--box-shadow);
    
}
#inputNome{
    display: flex;
    width: 500px;
    height: 30px;
    border-radius: 12px; 
}

#category_list{
    width: 150px;
    height: 30px;
    border-radius: 12px;
}


.descricao{  
    margin: 100px; 
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    max-width: 950px;
    background-color: var(--color-background);
    color: var(--color-dark);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    box-shadow: var(--box-shadow);
}
.descricao >h4{
    text-align: center;
   
}
#inputDescricao{
    width: 900px;
    height: 150px;
    border-radius: 12px;
    text-align: center;
    margin: 10px;
}

.ingredientes{
    margin: 100px; 
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    max-width: 950px;
    background-color: var(--color-background);
    color: var(--color-dark);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    box-shadow: var(--box-shadow);
}

#inputIngredientes{
    width: 900px;
    height: 200px;
    border-radius: 12px;
    text-align: center;
    margin: 10px;
}

.preparo{
    margin: 100px; 
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    max-width: 950px;
    background-color: var(--color-background);
    color: var(--color-dark);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    box-shadow: var(--box-shadow);
}

#inputReceita{
    width: 900px;
    height: 200px;
    border-radius: 12px;
    text-align:  center;
    margin: 10px;
}

.imagem{
    margin: 50px; 
    gap: 120px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

#inputImagem{

}

.imagem > button{
    background-color: #6027ff;
    margin-bottom: 10px;
    gap: 10px;
    width: 190px;
    height: 40px;
    border-radius: 20px;
}




/* Media queries para telas menores (tablets) */
@media (max-width: 1024px) {
    #inputNome, #inputDescricao, #inputIngredientes, #inputReceita {
        width: 80%;
    }

    .main {
        flex-direction: column;
        padding-top: 1200px;
    }
}

/* Media queries para celulares */
@media (max-width: 678px) {
    #inputNome, #inputDescricao, #inputIngredientes, #inputReceita {
        width: 100%;
        grid-template-rows: 50px 50px 50px 1fr 50px 50px 50px;
        grid-template-columns: 1fr;
    }

    .main {
        flex-direction: column;
        padding-top: 600px;
        grid-template-rows: 50px 50px 50px 1fr 50px 50px 50px;
        grid-template-columns: 1fr;
    }

    .receita, .descricao, .ingredientes, .preparo, .imagem {
        margin: 20px;
        grid-template-rows: 50px 50px 50px 1fr 50px 50px 50px;
        grid-template-columns: 1fr;
    }

    button {
        width: 100%;
    }
}

